<div class="mt-">
  <h3>Đăng khóa học</h3>
  <form method="post" action="/courses/store">
    <div class="form-group">
      <label for="name">Tên khóa học</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="form-group">
      <label for="description">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>
    <div class="form-group">
      <label for="videoID">video ID</label>
      <input type="text" class="form-control" id="videoID" name="videoID" />
    </div>
    <div class="form-group">
      <label for="level">Level</label>
      <input type="text" class="form-control" id="level" name="level" />
    </div>

    <button type="submit" class="btn btn-primary">Thêm khóa học</button>
  </form>
</div>