<div class="search-form mt-4">
  <form>
    <div class="form-group">
      <label for="searchInput">Từ khóa</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="Nhập từ khóa..."
      />

    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>